.notification-container {
    position: fixed;
    top: 20px;
    right: 0;
    width: 328px;
    min-height: 82px;
    display: flex;
    align-items: flex-start;
    z-index: 1000;
    /* isAnimation prop controls  */
    /* animation: slideInRight 0.3s ease-out; */
    /* border-radius: 16px 0 0 16px; */
    background-color: #688bff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    padding: 16px 10px;
    align-items: center;
    gap: 16px;
  }
  
  .notification-icon {
    flex-shrink: 0;
    margin-top: 2px;
  }
  
  .notification-content {
    flex: 1;
    min-width: 0;
  }
  
  .notification-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 4px;
  }
  
  .notification-message {
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.7);
    word-wrap: break-word;
  }
  
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @media (max-width: 768px) {
    .notification-container {
      min-width: 280px;
      right: 10px;
      left: 10px;
    }
  }
  